<div id="big_image_container" class="col-md-6 half_page">
  <img class="instagram_image" src="https://placehold.it/612x612">
</div>

<div id="little_images_container" class="col-md-12 half_page">
  <% @list_of_images_lists.each do |img_l| %> 
    <% img_l.each do |n| %> 
      <img class="instagram_image" src="<%= n.images.standard_resolution.url %>">
    <% end %>
  <% end %>
</div>

