<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="bargraphy">
		<title>Bargraphy</title>
 		<link rel="stylesheet" type="text/css" media="screen" href="style.css">
 		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
 		<style type="text/css"></style>
 		<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
			.en-markup-crop-options {
			    top: 18px !important;
			    left: 50% !important;
			    margin-left: -100px !important;
			    width: 200px !important;
			    border: 2px rgba(255,255,255,.38) solid !important;
			    border-radius: 4px !important;
			}

			.en-markup-crop-options div div:first-of-type {
			    margin-left: 0px !important;
			}
		</style>
	</head>
 
	<body>   
		<div id="container">
		
			<ul id="myContent"> 			
				
			</ul> 
		
		</div>
 

	</body>
</html>